@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.songSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.form-Song {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.MuiTextField-root label {
  color: var(--fourth-color);
}

label.MuiFormLabel-root.Mui-focused {
  color: var(--fourth-color);
}
input.MuiInputBase-input {
  color: var(--font-color);
  border-bottom-color: var(--font-color);
}

p.MuiFormHelperText-root {
  color: var(--error-color);
}

div.MuiInput-underline {
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline::before {
  color: var(--font-color);
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline:after {
  color: var(--fourth-color);
  border-bottom-color: var(--fourth-color);
}
button.MuiButton-root {
  color: var(--font-color);
}

button.MuiButton-contained {
  margin-top: 1rem;
  color: var(--font-color);
  background-color: var(--fourth-color);
}

button.MuiButton-contained span.MuiButton-label {
  color: var(--primary-color);
}

button.MuiButton-contained span.MuiButton-label:hover {
  color: var(--font-color);
}

button.MuiButton-contained:hover {
  background-color: var(--third-color);
}

.song-artist,
.song-lyrics {
  opacity: 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Quicksand", sans-serif;
}

.song-artist a {
  text-decoration: none;
  color: var(--fourth-color);
}

.song-artist a:hover {
  text-decoration: none;
  color: var(--third-color);
}

.musical-note {

}

@media screen and (max-width: 768px) {
  button.switch-lyrics-artist-btn {
    position: fixed;
    right: 5px;
    bottom: 60px;
    height: 10%;
    border-radius: 100%;
  }

  svg.MuiSvgIcon-root {
    padding: 0;
    margin: 0;
  }
  .none {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: opacity 4s;
  }
  .song-artist {
    margin-top: 1rem;
  }

  .artist-img {
    width: 90%;
  }
  .music-bio {
    width: 90%;
  }
}
