@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.songSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.form-Song {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  border: 1px solid var(--fourth-color);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.MuiTextField-root label {
  color: var(--fourth-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1em;
}

label.MuiFormLabel-root.Mui-focused {
  color: var(--fourth-color);
}
input.MuiInputBase-input {
  color: var(--font-color);
  font-family: "Rajdhani", sans-serif;
  border-bottom-color: var(--font-color);
}

p.MuiFormHelperText-root {
  color: var(--error-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 1em;
}

div.MuiInput-underline {
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline::before {
  color: var(--font-color);
  border-bottom-color: var(--fourth-color);
}

div.MuiInput-underline:after {
  color: var(--fourth-color);
  border-bottom-color: var(--fourth-color);
}
button.MuiButton-root {
  color: var(--font-color);
  font-family: "Rajdhani", sans-serif;
}

button.MuiButton-contained {
  margin-top: 1rem;
  color: var(--font-color);
  background-color: var(--fourth-color);
}

button.MuiButton-contained span.MuiButton-label {
  color: var(--primary-color);
}

button.MuiButton-contained span.MuiButton-label:hover {
  color: var(--font-color);
}

button.MuiButton-contained:hover {
  background-color: var(--third-color);
}

.song-artist,
.song-lyrics {
  opacity: 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Quicksand", sans-serif;
  background-color: var(--primary-color);
}

.song-artist a {
  text-decoration: none;
  color: var(--fourth-color);
}

.song-artist a:hover {
  text-decoration: none;
  color: var(--third-color);
}

.musical-notes {
  margin: 0;
  padding: 0;
}

.musical-note {
  position: absolute;
  color: var(--fourth-color);
  bottom: 0;
  animation: songnote 6s linear infinite;
  left: 18%;
  z-index: -1;
}

.musical-note:nth-child(1) {
  animation-duration: 3s;
  left: 36%;
}
.musical-note:nth-child(2) {
  animation-duration: 7s;
  left: 54%;
}
.musical-note:nth-child(3) {
  animation-duration: 2s;
  left: 72%;
}
.musical-note:nth-child(4) {
  animation-duration: 5s;
  left: 90%;
}
svg.MuiSvgIcon-root {
  width: 3em;
  height: 3em;
}
@keyframes songnote {
  0% {
    bottom: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  button.switch-lyrics-artist-btn {
    position: fixed;
    right: 5px;
    bottom: 60px;
    height: 10%;
    border-radius: 100%;
  }

  svg.MuiSvgIcon-root {
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
  }
  .none {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: opacity 4s;
  }
  .song-artist {
    margin-top: 1rem;
  }

  .artist-img {
    width: 100%;
  }
  .music-bio {
    width: 90%;
  }
}
